.review-entry {
	display: flex;
	flex-direction: row;
	gap: 1.5rem;

	h2 {
		margin-top: 0;
	}
}

.review-overview {
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 270px;
	justify-content: space-between;
}

.review-metadata:first-of-type {
	border-top: 1px solid #353535;
	border-bottom: 1px solid #353535;
	margin-top: 1rem;
	padding: 1rem 0;
}

.review-metadata:last-of-type {
	border-bottom: 1px solid #353535;
	margin-bottom: 1rem;
	padding: 1rem 0;
}

.review-metadata {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.badge {
	background-color: var(--primary);
	color: white;
	font-weight: bold;
	padding: 0 .25rem;
}
